body {
    font-family: "consolas", "微软雅黑";
}

.page-header h1 {
    font-family: "华文中宋";
    padding-left: 5%;
    font-weight: 900;
}

.main,
.side {
    background-color: #fcfcfc;
    box-shadow: 1px 1px 25px rgb(206, 206, 206, 10);
    border: 1px solid #dedede;
    border-radius: 2px;
    padding: 5% 8% 5% 8%;
    margin: 2px;
    margin-bottom: 50px;
}

.side {
    margin-bottom: 15px;
}

.main h1 {
    margin-bottom: 15px;
    font-family: "华文中宋";
    font-weight: 900;
}

.side {
    margin: 1 auto;
}

.main p,
.side p {
    font-family: "华文中宋";
    color: #5a5a5a;
}

.author {
    margin-bottom: 3%;
    opacity: 0.8;
}

.name {
    text-align: right;
}

.main:hover,
.side:hover {
    background-color: #d6d6d6;
    cursor: context-menu;
    transition: 0.3s background-color;
}
